<a href="https://colab.research.google.com/github/jesercaceres/AF_LP/blob/main/EXEMPLO_ETL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

#armazenando os valores dos arquivos nas variaveis abaixo utilizando o método "read" da biblioteca pandas,
#este método converte os dados em um dataframe.
vendas_filial1 = pd.read_csv('vendas_filial1.csv')
vendas_filial2 = pd.read_excel('vendas_filial2.xlsx')

#criando uma nova coluna "Valor Total" e atribuindo à ela os valores de qtd vendas * preço unitário
vendas_filial1['Valor Total'] = vendas_filial1 ['Quantidade Vendida'] * vendas_filial1['Preço Unitário']
vendas_filial2['Valor Total'] = vendas_filial2['Quantidade Vendida'] * vendas_filial2['Preço Unitário']

#printando a saída obtida.
print("dados da filial 1:")
print(vendas_filial1.head())
print("\nDados da Filial 2:")
print(vendas_filial2.head())

dados da filial 1:
   ID do Produto                   Nome do Produto  Quantidade Vendida  \
0            101                Laptop Dell XPS 13                  20
1            102     Smartphone Samsung Galaxy S20                  30
2            103          Monitor LG UltraWide 34"                  15
3            104  Teclado Mecânico Corsair K95 RGB                  25
4            105        Mouse Logitech MX Master 3                  10

   Preço Unitário  Valor Total
0          1500.0      30000.0
1          1000.0      30000.0
2           600.0       9000.0
3           200.0       5000.0
4            80.0        800.0

Dados da Filial 2:
   ID do Produto                    Nome do Produto  Quantidade Vendida  \
0            201         Impressora HP LaserJet Pro                  12
1            202                    SSD Samsung 1TB                  18
2            203              Tablet Apple iPad Pro                   8
3            204  Smartwatch Samsung Galaxy Watch 4                  14
4            205            Headset HyperX Cloud II                  20

   Preço Unitário  Valor Total
0           250.0       3000.0
1           180.0       3240.0
2           900.0       7200.0
3           300.0       4200.0
4           120.0       2400.0